<section>
  <div class="card">
    <div class="row ml-3">
      <div class="content-header">
        Nueva Usuario
      </div>
    </div>
    <div class="card-content mt-3">
      <div class="px-4">
        <form class="form" (ngSubmit)="onSubmit()">
          <div class="form-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="_usuario.nombre"
                    autofocus>
                  <div *ngIf="_usuario.nombre == '' && nombre.touched">
                    <div class="text-left">
                      <label class="label-block red "> El nombre es requerido</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Apellido Paterno</label>
                  <input type="text" class="form-control" name="apellidoPaterno" #apellidoPaterno="ngModel"
                    [(ngModel)]="_usuario.apellidoPaterno">
                  <div *ngIf="_usuario.apellidoPaterno == '' && apellidoPaterno.touched">
                    <div class="text-left">
                      <label class="label-block red "> El apellido paterno es requerido</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Apellido Materno</label>
                  <input type="text" class="form-control " name="apellidoMaterno" #apellidoMaterno="ngModel"
                    [(ngModel)]="_usuario.apellidoMaterno">
                  <div *ngIf="_usuario.apellidoMaterno == '' && apellidoMaterno.touched">
                    <div class="text-left">
                      <label class="label-block red "> El apellido materno es requerido</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label>Usuario</label>
                  <input type="text" class="form-control " name="user" #usuario="ngModel"
                    [(ngModel)]="_usuario.user" value="@">
                  <div *ngIf="_usuario.user == '' && _usuario.touched">
                    <div class="text-left">
                      <label class="label-block red "> El usuario es requerido</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Correo Electronico</label>
                  <input type="email" class="form-control" name="correo" #correo="ngModel" [(ngModel)]="_usuario.correo">
                  <div *ngIf="_usuario.correo == '' && correo.touched">
                    <div class="text-left">
                      <label class="label-block red "> El correo es requerido</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Contraseña</label>
                  <div class="input-group-prepend">
                    <input type="text" class="form-control " name="contrasena" #contrasena="ngModel"
                      [(ngModel)]="_usuario.contrasena" maxlength="12" minlength="6">
                    <button type="button" class="btn btn-primary" (click)="generarContrasena($event)"> <i
                        class="icon-refresh white"></i> </button>
                  </div>
                  <div *ngIf="_usuario.contrasena == '' && contrasena.touched">
                    <div class="text-left">
                      <label class="label-block red "> La contraseña es requerida</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>¿Cual será su rol?</label>
                  <select class="form-control" name="rol" #rol="ngModel" [(ngModel)]="_usuario.rol">
                      <option *ngFor="let rol of roles" [value]="rol._id">{{rol.display_name}}</option>
                  </select>
              
                  <div *ngIf="_usuario.rol == '' && rol.touched">
                    <div class="text-left">
                      <label class="label-block red "> El rol es requerida</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>¿Sobre que sección escribiras?</label>
                  <select class="form-control" name="seccion" #seccion="ngModel" [(ngModel)]="_usuario.seccion">
                      <option *ngFor="let seccion of secciones" [value]="seccion._id">{{seccion.nombre}}</option>
                  </select>
     
                  <div *ngIf="_usuario.seccion == '' && seccion.touched">
                    <div class="text-left">
                      <label class="label-block red "> La sección es requerida</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="text-right">
                  <button type="reset" class="btn white bg-dark mr-2">Limpiar Todo</button>
                  <button type="submit" class="btn white bg-success">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        </div>
      
    </div>

  </div>
</section>