<section>
    <div class="card">
        <div class="row ml-3">
            <div class="content-header">
                Mis Notas
            </div>
        </div>
        <div class="card-content mt-3">
            <div class="px-3">
                <div class="row col-12">
                    <div class="col-md-3 col-lg-3 col-sm-12" *ngFor="let nota of Notas">
                        <div class="card" >
                            <img class="card-img"
                                src="http://partesde.com/wp-content/uploads/2016/05/camara-fotografica-710x473.jpg"
                                alt="Card image cap">
                            <div class="card-body ">
                                <small class="">
                                    {{nota.titulo}}
                                </small>
                                <br>
                                <br>
                                <div class="text-center">
                                    <span class="mr-1"><i class="ft-message-square mr-1"></i> 0 </span>
                                    <span class="ml-1"><i class="icon-like mr-1"></i> 0 </span>
                                </div>
                            </div>
                            <div class="card-footer bg-dark">
                                <div class="text-center">
                                    <small class=" white">{{nota.created | date:'yyyy-MM-dd'}}</small>
                                </div>
                            </div>
                            <a [routerLink]="['/nota/', nota._id]" class="no-text-decoration">
                                <div class="card-footer bg-success" style="cursor: pointer;">
                                    <div class="text-center">
                                        <small class=" white">Ver Noticia </small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</section>