<section>
    <div class="card">
        <div class="card-content ">
            <div class="px-3">
                <div class="row">
                    <div class="content-header">
                        Tu Actividad
                    </div>
                </div>
            </div>
            <br>
            <div class="px-3">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-sm-6">
                        <div class="card bg-primary">
                            <div class="card-content">
                                <div class="px-3 py-3">
                                    <div class="media-left align-self-center">
                                        <i class="icon-pencil white font-large-2 float-left"></i>
                                    </div>
                                    <div class="media-body white text-right">
                                        <h3>12</h3>
                                        <span>Notas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6">
                        <div class="card bg-success">
                            <div class="card-content">
                                <div class="px-3 py-3">
                                    <div class="media">
                                        <div class="media-left align-self-center">
                                            <i class="icon-speech white font-large-2 float-left"></i>
                                        </div>
                                        <div class="media-body white text-right">
                                            <h3>89</h3>
                                            <span>Comentarios</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6">
                        <div class="card bg-danger">
                            <div class="card-content">
                                <div class="px-3 py-3">
                                    <div class="media">
                                        <div class="media-right align-self-center">
                                            <i class="icon-user white font-large-2 float-left"></i>
                                        </div>
                                        <div class="media-body white text-right">
                                            <h3>35</h3>
                                            <span>Suscriptores</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6">
                        <div class="card bg-warning">
                            <div class="card-content">
                                <div class="px-3 py-3">
                                    <div class="media">
                                        <div class="media-right align-self-center">
                                            <i class="icon-like white font-large-2 float-left"></i>
                                        </div>
                                        <div class="media-body white text-right">
                                            <h3>40</h3>
                                            <span>Aplausos</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-3">
                <div class="row">
                    <div class="content-header">
                        Trending Topics México
                    </div>
                </div>
            </div>
            <br>
            <div class="px-3">
                <div class="row">
                    <div class="text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>