<section>
    <div class="card">
        <div class="row ml-3">
            <div class="content-header">
                Secciones registradas
            </div>
        </div>
        <div class="card-content mt-3">
            <div class="px-4">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Subsecciones</th>
                            </tr>
                        </thead>
                        <tbody *ngFor='let seccion of Secciones'>
                            <tr>
                                <td>{{seccion.nombre}}</td>
                                <td>{{seccion.descripcion}}</td>
                                <td>
                                    <div *ngFor='let subseccion of seccion.subseccion'>
                                        <div class="mt-1 text-center">
                                            <span class="badge badge-primary">{{subseccion}}</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <a [routerLink]="['/nueva-seccion']" class="btn white bg-success mr-2">Nueva Sección</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>