<section>
    <div class="card">
        <div class="row ml-3">
            <div class="content-header">
                Nueva nota
            </div>
        </div>
        <div class="card-content mt-3">
            <div class="px-4">
                <form #userForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>¿De que sección es la nota?</label>

                                <select class="form-control" name="seccion" #seccion="ngModel"
                                    [(ngModel)]="nota.seccion">
                                    <option *ngFor="let x of optionsSecciones" [value]="x._id">{{x.nombre}}</option>
                                </select>
                                <div *ngIf="nota.seccion == '' && seccion.touched">
                                    <div class="text-left">
                                        <label class="label-block red "> La sección es requerida</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Agrega una foto de portada para la noticia</label>
                                <input type="file" class="" name="portada" #portada="ngModel"
                                    [(ngModel)]="nota.portada">
                                <div *ngIf="nota.portada == '' && portada.touched">
                                    <div class="text-left">
                                        <label class="label-block red "> La foto de portada es requerida</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtTitulo">Titulo</label>
                        <input type="text" class="form-control" name="titulo" #titulo="ngModel"
                            [(ngModel)]="nota.titulo">
                        <div *ngIf="nota.titulo == '' && titulo.touched">
                            <div class="text-left">
                                <label class="label-block red "> El título es requerido</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtDescripcion">Descripción</label>
                        <textarea type="text" class="form-control" name="descripcion" #descripcion="ngModel"
                            style="resize: none;height: 70px;" [(ngModel)]="nota.descripcion">
                                            </textarea>
                        <div *ngIf="nota.descripcion == '' && descripcion.touched">
                            <div class="text-left">
                                <label class="label-block red "> La Descripción es requerido</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="palabrasClaves">Palabra(s) Clave(s)</label>
                        <tag-input [(ngModel)]='nota.palabrasClaves' name="palabrasClaves" #palabrasClaves="ngModel"
                            [secondaryPlaceholder]="'Agrega una palabra clave'"
                            [placeholder]="'Agrega otra palabra clave'" [maxItems]="10" theme='bootstrap'>
                        </tag-input>
                        <div *ngIf="nota.palabrasClaves == '' && palabrasClaves.touched">
                            <div class="text-left">
                                <label class="label-block red "> La(s) palabra(s) clave(s) es requerido</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>¿Algún Hashtag?</label>
                        <tag-input [(ngModel)]='nota.hashtags' name="hashtags" #hashtags="ngModel"
                            [secondaryPlaceholder]="'Agrega un hashtag'" [placeholder]="'Agrega otro hashtag'"
                            [maxItems]="10" theme='bootstrap'>
                        </tag-input>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Cuerpo</label>
                        <div id="quill-editor">
                            <quill-editor [style]="{height: '300px'}" name="cuerpo" #cuerpo="ngModel"
                                [(ngModel)]="nota.cuerpo">
                            </quill-editor>
                        </div>
                        <div *ngIf="nota.cuerpo == '' && cuerpo.touched">
                            <div class="text-left">
                                <label class="label-block red "> El cuerpo es requerido</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="text-right">
                            <button type="reset" class="btn white bg-dark mr-2">Limpiar Todo</button>
                            <button type="submit" class="btn white bg-success">Guardar</button>
                        </div>
                    </div>
                </form>
        
            </div>
        </div>
    </div>
</section>