<section>
    <div class="card">
        <div class="row ml-3">
            <div class="content-header">
                Nueva Sección
            </div>
        </div>
        <div class="card-content mt-3">
            <div class="px-4">
                <form #userForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" name="nombre" #nombre="ngModel"
                            [(ngModel)]="seccion.nombre" autofocus>
                        <div *ngIf="seccion.nombre == '' && nombre.touched">
                            <div class="text-left">
                                <label class="label-block red "> El nombre es requerido</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea type="text" class="form-control" name="descripcion" #descripcion="ngModel"
                            style="resize: none;height: 70px;" [(ngModel)]="seccion.descripcion"></textarea>
                        <div *ngIf="seccion.descripcion == '' && descripcion.touched">
                            <div class="text-left">
                                <label class="label-block red "> La descripcion es requerida</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Agrega Subsecciones</label>
                        <tag-input [(ngModel)]='seccion.subsecciones' name="subsecciones" #subsecciones="ngModel"
                            [secondaryPlaceholder]="'Agrega una subsección'" [placeholder]="'Agrega otra subsección'"
                            [maxItems]="10" theme='bootstrap'>
                        </tag-input>
                        <div *ngIf="seccion.subsecciones == '' && subsecciones.touched">
                            <div class="text-left">
                                <label class="label-block red "> La(s) subseccion(s) son requerida(s)</label>

                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <div class="text-right">
                            <button type="reset" class="btn white bg-dark mr-2">Limpiar Todo</button>
                            <button type="submit" class="btn white bg-success">Guardar</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</section>