<section>
  <div class="card">
    <div class="row ml-3">
      <div class="content-header">
        Lista de Usuarios
      </div>
    </div>
    <div class="card-content mt-3">
      <div class="px-3">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Country</th>
                <th scope="col">Area</th>
                <th scope="col">Population</th>
                <th scope="col">Perfil</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let country of countries; index as i" >
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                    style="width: 20px">
                  {{ country.name }}
                </td>
                <td>{{ country.area | number }}</td>
                <td>{{ country.population | number }}</td>
                <td><button type="button" class="btn bg-success white" (click)="ver(country)"> Ver Perfil </button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>