<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh m-0">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="card-content">
                            <div class="card-body login-img">
                                <div class="row ">
                                    <div class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle">
                                        <img src="http://4.bp.blogspot.com/-FvuQNRvIvxo/VajFHMFJQ2I/AAAAAAAADCs/3hKahGvwCuI/s640/mood-actor-spider-tobey-maguire-peter-parker.jpg"
                                            alt="" class="img-fluid mt-2" width="400" height="230" />
                                    </div>
                                    <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                                        <div class="text-center">
                                            <h4 class="card-title mb-2"><b>Inicio de Sesión</b></h4>
                                        </div>
                                        <p class="card-text mb-3">
                                            Bienvenido, ingresa los datos de tu cuenta.
                                        </p>
                                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                                        <br>
                                        <div class="form-group">
                                            <input type="text" class="form-control mb-3" formControlName="usuario"
                                                placeholder="Usuario"
                                                [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" />
                                            <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
                                                <div *ngIf="f.usuario.errors.required" style="margin-top: -20px;">
                                                    El usuario es requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control mb-3"
                                                formControlName="contrasena" placeholder="Contraseña"
                                                [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors }" />
                                            <div *ngIf="submitted && f.contrasena.errors" class="invalid-feedback">
                                                <div *ngIf="f.contrasena.errors.required" style="margin-top: -20px;">
                                                    La contraseña es requerida
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="!logged" class="text-center">
                                            <div class="">
                                                <button type="submit" class="btn btn-primary">
                                                    <span class="white">Ingresar</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div *ngIf="logged">
                                            <div class="text-center">

                                                <button (click)="forzar()" type="button" class="btn btn-primary">
                                                    <span class="white"> 
                                                        Hubo un problema con el servidor :(
                                                        <br>
                                                        Haz click para entrar :) </span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->