<section>
    <div *ngIf=cargado>
        <div class="card">
            <div class="card-content"
                style="height: 150px;width:100%;background-image: url('http://partesde.com/wp-content/uploads/2016/05/camara-fotografica-710x473.jpg') ;">
            </div>
            <div class="card-content mt-3">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1>{{nota.titulo}}</h1>
                            <small class="">{{nota.created | date:'yyyy-MM-dd'}}</small>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <div class="ml-5 mr-5">
                            <h4>{{nota.descripcion}}</h4>
                        </div>
                        <br>
                        <br>
                        <div class="ml-5 mr-5" >
                            <div [innerHTML]="nota.cuerpo"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <a [routerLink]="['/notas']" class="btn white bg-success mr-2">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>