<!--Footer Starts-->
<footer>
    <div class="container-fluid">
        <p class="copyright text-center">
            <b>&copy;  {{ currentDate | date: 'yyyy'}}</b> Todos los derechos reservados.          
        </p>
        
    </div>
</footer>
<!--Footer Ends-->